<!-- <pwa-camera-model></pwa-camera-model> -->

<ion-content>
  <ion-button class="ion-margin" (click)="takePicture()">Take Picture</ion-button>
  <ion-button class="ion-margin" (click)="getLocation()">Get Position</ion-button>
  <ion-button class="ion-margin" (click)="getDeviceInfo()">Get device info</ion-button>
  <ion-button class="ion-margin" (click)="getNetworkInfo()">Get Network Info</ion-button>
  <ion-button class="ion-margin" (click)="speakText('hi')">Text to Speech</ion-button>
</ion-content>